DATABASE_HOST=localhost
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
BUNDLE_PATH=/bundle_cache
GEM_HOME=/bundle_cache
GEM_PATH=/bundle_cache
RAILS_PORT=3000
RUBYOPT=-W:no-deprecated -W:no-experimental
NODE_OPTIONS=--openssl-legacy-provider

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
